#container {
    background-color: darkblue;
    height: 250px;
    width: 60%;
    margin: 30px auto;
    border-radius: 20px;
    text-align: center;
    color: white;
}

#container h1 {
    padding-top: 50px;
}

#container ul li a {
    color: white;
    text-decoration: none;
}

#container li {
    float: left;
    margin: 10px;
    list-style: none;
    border-radius: 20px;
    background-color: mediumblue;
    padding: 5px;
}

#container ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 30px;
}

body {
    font-family: "Indie Flower", cursive;
    background-color: rgb(255, 249, 237);
}

.container2 {
    width: 60%;
    margin: 30px auto;
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    color: darkblue;
    overflow: auto;
}

.container2 img {
    height: 80px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.container2 button {
    height: 35px;
    background-color: darkblue;
    border-radius: 10px;
}

.container2 button a {
    text-decoration: none;
    color: white;
}

.container2 p {
    line-height: 2;
}

.info {}