#container {
    background-color: darkblue;
    height: 250px;
    width: 60%;
    margin: 30px auto;
    border-radius: 20px;
    text-align: center;
    color: white;
}

#container h1 {
    padding-top: 50px;
}

#container ul li a {
    color: white;
    text-decoration: none;
}

#container li {
    float: left;
    margin: 10px;
    list-style: none;
    border-radius: 20px;
    background-color: mediumblue;
    padding: 5px;
}

#container ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 30px;
}

body {
    font-family: "Space Mono", monospace;
    background-color: rgb(255, 249, 237);
}

.container2 {
    width: 60%;
    margin: 30px auto;
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    color: darkblue;
    overflow: auto;
}

.container2 img {
    height: 80px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.container2 button {
    height: 35px;
    background-color: darkblue;
    border-radius: 10px;
}

.container2 button a {
    text-decoration: none;
    color: white;
}

.container2 p {
    line-height: 2;
}

.container3 {
    width: 60%;
    margin: 30px auto;
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    color: darkblue;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills {
    border-radius: 15px;
    border: 1px solid aqua;
    box-shadow: 1px 1px;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    margin-right: 10px;
}

.skills p,
h3 {
    margin: 10px;
    padding: 0;
}

.container4 {
    width: 60%;
    margin: 30px auto;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 40px;
}

.container4 img {
    width: 80px;
    float: left;
    margin-right: 20px;
}

.container4 h2 {
    border-bottom: 0.3px solid black;
    color: blueviolet;
    margin: 40px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.container4 p {
    padding-left: 15px;
    padding-bottom: 15px;
}

.company {
    color: rgb(157, 88, 222);
}

.exper {
    border-left: 5px solid blue;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 30px;
    background-color: aquamarine;
}

.container5 {
    width: 60%;
    background-color: darkblue;
    margin: 30px auto;
    border-radius: 20px;
    padding-left: 20px;
    color: white;
}

.container5 a {
    text-decoration: none;
    color: white;
}

.container5 li {
    list-style: none;
    display: inline-block;
    background-color: mediumblue;
    border-radius: 10px;
    padding: 5px;
}

.container5 ul {
    padding: 0;
    padding-bottom: 15px;
}

.container6 {
    width: 60%;
    margin: 30px auto;
    background-color: darkslategray;
    text-align: center;
    border-radius: 20px;
}

.container6 p {
    color: white;
    padding: 30px;
}

.container6 p span {
    color: aqua;
}